<div class="card"  style="width: 28.5rem;" >
  <div class="card-header">
   <h2>Détail de l'utilisateur</h2>
  </div>
  <ul class="list-group list-group-flush" >
    <li class="list-group-item"><span>Nom: {{data.lastName}}</span> </li>
    <li class="list-group-item">Prenom: {{data.firstName}}</li>
    <li class="list-group-item">Email: {{data.email}}</li>
    <li class="list-group-item">Adresse: {{data.adresse}}</li>
    <li class="list-group-item">Telphone: {{data.telephone}}</li>
    <li class="list-group-item">Date de naissance: {{data.dateNai}}</li>
  </ul>
</div>







